<hlm-menu class="p-4 bg-[#F1F0FC] rounded-md shadow-lg min-w-48 border-none  dropdown-animation">

<div >
  <h3 class="font-bold text-gray-900 mb-3">Your Teams</h3>
  <div class="space-y-3">
    <div class="flex items-center gap-3 menu-item" style="animation-delay: 50ms;">
      <div class="flex items-center justify-center bg-gray-100 h-8 w-8 rounded-md">

      </div>
      <span class="text-gray-800">software</span>
    </div>

    <div class="flex items-center gap-3 menu-item" style="animation-delay: 100ms;">
      <div class="flex items-center justify-center bg-gray-100 h-8 w-8 rounded-md">
        <span class="text-xs text-gray-600">$</span>
      </div>
      <span class="text-gray-800">Money</span>
    </div>

    <div class="flex items-center gap-3 menu-item" style="animation-delay: 150ms;">
      <div class="flex items-center justify-center bg-gray-100 h-8 w-8 rounded-md">

      </div>
      <span class="text-gray-800">software</span>
    </div>

    <div class="flex items-center gap-3 menu-item" style="animation-delay: 200ms;">
      <div class="flex items-center justify-center bg-gray-100 h-8 w-8 rounded-md">

      </div>
      <span class="text-gray-800">software</span>
    </div>
  </div>
</div>
</hlm-menu>
