<div class="relative min-h-screen flex flex-col">
  <form

    class="flex flex-1 flex-col items-center justify-center space-y-6 pb-14 max-w-md mx-auto w-full"
  >
    <div class="text-center">
      <h1 class="text-xl font-bold mb-1">Invite your team leads</h1>
      <span>Invite your team leads to manage your teams.</span>
    </div>

    <div class="w-full">
      <hlm-form-field class="w-full">
        <label hlmLabel class="font-bold">Email
          <div class="relative w-full">
            <input
              hlmInput
              class="w-full border border-black relative z-10"
              type="text"
              placeholder="Email"
            />
            <brn-select
              class="absolute bottom-1 flex justify-center right-3 h-8  bg-background z-20 "
            >
              <hlm-select-trigger class="w-full h-full bg-background  border-black ">
                <hlm-select-value class="font-medium" />
              </hlm-select-trigger>
              <hlm-select-content class="z-50">
                <hlm-option *ngFor="let team of teams" [value]="team.name">{{ team.name }}</hlm-option>
              </hlm-select-content>
            </brn-select>
          </div>
        </label>


      </hlm-form-field>
    </div>

    <div class="flex flex-col space-y-4 w-full">
      <div class="w-full">
        <button
          hlmBtn
          class="hover:bg-accent hover:text-accent-foreground w-full"
          type="submit"
        >
          Create Team
        </button>
      </div>
      <div class="w-full">
        <button
          hlmBtn
          class="w-full"
          type="submit"
          variant="link"
        >
          Skip
        </button>
      </div>
    </div>
  </form>
</div>
