<div class="relative min-h-screen flex flex-col">
  <form class="flex flex-1 flex-col items-center justify-center space-y-6 pb-14 max-w-md mx-auto w-full">

    <!-- Heading & Subtext -->
    <div class="text-center">
      <h1 class="text-xl font-bold mb-1">You're all set!</h1>
    </div>

    <div>
      <svg width="96px" height="96px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="#000000"
           class="bi bi-check-circle-fill">
        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </g>
      </svg>
    </div>

    <div class="flex justify-center items-center w-full px-4">
      <span class="text-center whitespace-normal w-full">You're all set to start using Play Book, Continue to the main screen.</span>
    </div>

    <div class="w-full">
      <button
        hlmBtn
        class="hover:bg-accent hover:text-accent-foreground w-full"
        type="submit"
        (click)="onFinish()"
      >
        Continue To Home Screen
      </button>
    </div>

  </form>
</div>
