<div>
  <form
    class="w-full flex flex-col items-center justify-center max-w-md mx-auto space-y-6"
    [formGroup]="codeForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="flex flex-col items-center justify-center">
      <h1 class="text-xl font-bold mb-1">Enter the reset code.</h1>
      <span>We've sent a reset code to your email, enter it below</span>
    </div>

    <div class="flex flex-col space-y-2 w-full">
      <input
        hlmInput
        class="w-full border-black"
        type="text"
        placeholder="Code"
        formControlName="code"
      />

    </div>

    <div class="w-full">
      <button
        hlmBtn
        class="w-full hover:bg-accent hover:text-accent-foreground"
        type="submit"
      >
        Verify
      </button>
    </div>

  </form>
</div>
