<aside class="h-screen w-64 bg-[#F1F0FC] flex flex-col" style="filter: drop-shadow(6px 3px 15px rgba(203, 195, 227, 0.10)) drop-shadow(23px 14px 27px rgba(203, 195, 227, 0.09)) drop-shadow(52px 31px 36px rgba(203, 195, 227, 0.05)) drop-shadow(92px 55px 43px rgba(203, 195, 227, 0.01)) drop-shadow(144px 86px 47px rgba(203, 195, 227, 0.00));">
  <div class="p-4">
    <h1 class="text-3xl font-extrabold text-black">PlayBook</h1>
  </div>

  <div class="flex-1 p-2 space-y-1 pt-14">
    <div
      class="flex items-center gap-3 p-3 rounded-md hover:bg-secondary cursor-pointer transition-colors"
      [ngClass]="{'bg-secondary': selectedItem === 'main'}"
      (click)="selectedItem = 'main'">
      <ng-icon name="radixDashboard" size="25"/>
      <span class="font-semibold text-base">Main</span>
    </div>

    <div
      class="flex items-center gap-3 p-3 rounded-md hover:bg-secondary cursor-pointer transition-colors"
      [ngClass]="{'bg-secondary': selectedItem === 'drafts'}"
      (click)="selectedItem = 'drafts'">
      <ng-icon name="heroPencilSquare" size="25"/>
      <span class="font-semibold text-base">Drafts</span>
    </div>

    <div
      class="flex items-center gap-3 p-3 rounded-md  hover:bg-secondary cursor-pointer transition-colors"
      [ngClass]="{'bg-secondary': selectedItem === 'favorites'}"
      (click)="selectedItem = 'favorites'">
      <ng-icon name="heroHeart" size="25"/>
      <span class="font-semibold text-base">Favorites</span>
    </div>
  </div>
</aside>
